
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= judul %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <h1>Input Data Pukul 00:00</h1>
    <form action="/report/006" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Produksi GT21</span>
            <input name="prod21" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                value="<%= prod21 %>">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Produksi GT22</span>
            <input name="prod22" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                value="<%= prod22 %>">
        </div>
        <button id="btn-submit" type="submit" class="btn btn-danger">Submit</button>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script></script>
</body>

</html>