<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Data Conflict</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Apakah anda ingin memperbarui data yang ada dengan data saat ini?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-modal-action-1" data-bs-dismiss="modal">Action1</button>
        <button type="submit" class="btn btn-primary" id="btn-modal-action-2">Action2</button>
      </div>
    </div>
  </div>
</div>